.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  border-radius: 10px;
  width: 900px;
  justify-self: center;
}
.header {
  grid-column: 1/3;
  justify-items: center;
  background-color: azure;
}
.main {
  display: grid;
  grid-column: 1/3;
  justify-items: center;
  justify-content: center;
  margin: 2em;
  gap: 20px;
}
.imageSection {
  grid-column: 1/2;
}

.infoContent {
  grid-column: 2/3;
}
.imageSection img {
  width: 300px;
}
